@model IEnumerable<HumanResources.Models.LeavesListViewModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content">

    <div class="page-header">
        <h1>
            Leaves
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">
                        Results for "Open Leave applications"
                    </div>

                    <!-- div.table-responsive -->
                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="leaves-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>
                                        <i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i>
                                        Date Submitted
                                    </th>
                                    <th>
                                        <i class="ace-icon fa fa-clipboard bigger-110 hidden-480"></i>
                                        Leave Type
                                    </th>
                                    <th>
                                        <i class="ace-icon fa fa-list-ol bigger-110 hidden-480"></i>
                                        Leave No
                                    </th>
                                    <th class="hidden-480">
                                        <i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i>
                                        Start Date
                                    </th>

                                    <th>
                                        <i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i>
                                        End Date
                                    </th>
                                    <th class="hidden-480">
                                        <i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i>
                                        Days
                                    </th>
                                    <th class="hidden-480">
                                        <i class="ace-icon fa fa-question-circle bigger-110 hidden-480"></i>
                                        Status
                                    </th>
                                    <th class="hidden-480">
                                        <i class="ace-icon fa fa-question-circle bigger-110 hidden-480"></i>
                                        Progress
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var leave in Model)
                                {
                                    <tr>
                                        <td class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>

                                        <td>
                                            @leave.DateSubmitted
                                        </td>
                                        <td>@leave.LeaveType</td>
                                        <td>@leave.DocumentNo</td>
                                        <td class="hidden-480">@leave.StartDate</td>
                                        <td>@leave.EndDate</td>
                                        <td> @leave.LeaveDays day(s)</td>
                                        <td class="hidden-480">
                                            <span class="label label-sm label-warning">@leave.ApprovalStatus</span>
                                        </td>
                                        <td class="hidden-480">
                                            <div class="progress pos-rel" data-percent="@leave.ApprovalProgress%">
                                                <div class="progress-bar" style="width:@leave.ApprovalProgress%;"></div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                </a>

                                                @if (leave.ApprovalStatus == "open")
                                                {
                                                    <a class="green" href="#">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                }
                                                <a class="green submitleave" href="#" data-docno="@leave.DocumentNo">
                                                    <i class="ace-icon fa fa-paper-plane-o bigger-130"></i>
                                                </a>

                                                <a class="red cancelleave" href="#" data-docno="@leave.DocumentNo">
                                                    <i class="ace-icon fa fa-times bigger-130"></i>
                                                </a>

                                                <a class="red deleteleaves" href="#" data-docno="@leave.DocumentNo">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>

                                            </div>

                                            <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                <span class="blue">
                                                                    <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        @if (leave.ApprovalStatus == "open")
                                                        {
                                                            <li>
                                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        }

                                                        <li>
                                                            <a href="#" class="tooltip-success submitleave" data-docno="@leave.DocumentNo" data-rel="tooltip" title="Submit">
                                                                <span class="green">
                                                                    <i class="ace-icon fa fa-paper-plane-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-error cancelleave" data-docno="@leave.DocumentNo" data-rel="tooltip" title="Cancel">
                                                                <span class="red">
                                                                    <i class="ace-icon fa fa-times bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-error deleteleaves" data-docno="@leave.DocumentNo" data-rel="tooltip" title="Delete">
                                                                <span class="red">
                                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
