@model HumanResources.ViewModels.CreateEmployeeViewModel

@{
    ViewBag.Title = "ViewEmployee";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content">

    <div class="page-header">
        <h1>
            @Model.Name
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">Edit Student Wizard</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="fuelux-wizard-container">

                            <div class="step-content pos-rel">
                                <h3 class="lighter block green">Enter the following information</h3>

                                @using (Html.BeginForm("UpdateStudent", "Students", FormMethod.Post, new { @id = "employeeform", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()

                                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">First Name:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "col-xs-12 col-sm-5", @Value = Model.FirstName })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">Last Name:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "col-xs-12 col-sm-5", @Value = Model.LastName })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Name:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "col-xs-12 col-sm-8", @Value = Model.Name })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Email">Email Address:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "col-xs-12 col-sm-6", @Value = Model.Email })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">Phone Number:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="ace-icon fa fa-phone"></i>

                                                </span>

                                                @Html.TextBoxFor(m => m.Phone, new { @class = "col-xs-12 col-sm-5", @Value = Model.Phone })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>



                                    <div class="hr hr-dotted"></div>



                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">Gender</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div>
                                                <label class="line-height-1 blue">
                                                    @Html.RadioButtonFor(m => m.Gender, "Male", Model.Gender == "Male" ? new { Checked = "checked", @class = "ace", @disabled = "disabled" } : new { Checked = "", @class = "ace", @disabled = "disabled" })
                                                    <span class="lbl"> Male</span>
                                                </label>
                                            </div>

                                            <div>
                                                <label class="line-height-1 blue">
                                                    @Html.RadioButtonFor(m => m.Gender, "Female", Model.Gender == "Female" ? new { Checked = "checked", @class = "ace", @disabled = "disabled" } : new { Checked = "", @class = "ace", @disabled = "disabled" })
                                                    <span class="lbl"> Female</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="state">Departments</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">

                                                @Html.DropDownListFor(m => m.DepartmentName,
                                                                    new SelectList(ViewBag.Departments, "Code", "Description", Model.DepartmentName),
                                                                    "Select Faculty",
                                                                    new { @class = "select2", @data_placeholder = "Click to Choose..." })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger  " })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="space-2"></div>


                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password">Password:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.PasswordFor(m => m.Password, new { @class = "col-xs-12 col-sm-4" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="password2">Confirm Password:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-xs-12 col-sm-4" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="space-8"></div>

                                    @Html.HiddenFor(m => m.EmployeeNo)

                                }
                            </div>
                        </div>

                        <hr />
                        <div class="wizard-actions center">
                            <button class="btn btn-success btn-next" id="UpdateEmployee">
                                Save
                                <i class="ace-icon fa fa-floppy-o  icon-on-right"></i>
                            </button>
                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</div>

