@model HumanResources.ViewModels.AppSettings

@{
    ViewBag.Title = "AppSettings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content">

    <div class="page-header">
        <h1>
            System Settings
        </h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">System Settings Wizard</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="fuelux-wizard-container">

                            <div class="step-content pos-rel">
                                <h3 class="lighter block green">Enter the following information</h3>
                                @using (Html.BeginForm("UpdateSettings", "Settings", FormMethod.Post, new { @id = "settingsform", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()

                                    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

                                    <div class="hr hr-dotted"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="state">AfricasTalking AppName</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.AfricasTalkingAppName, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.AfricasTalkingAppName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ApprovalSequence">AfricasTalking ApiKey:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.PasswordFor(m => m.AfricasTalkingApiKey, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.AfricasTalkingApiKey, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Approver">GoogleId</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.GoogleId, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.GoogleId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ApproverEmail">Gmail AppPassword:</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.PasswordFor(m => m.GmailAppPassword, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.GmailAppPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="hr hr-dotted"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SubstituteApprover">Gmail SenderName</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.GmailSenderName, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.GmailSenderName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Gmail Username</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.GmailUsername, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.GmailUsername, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Gmail Password</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.PasswordFor(m => m.GmailPassword, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.GmailPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Email Sender</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.EmailSender, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.EmailSender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SMTPPort">SMTP Port</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.SMTPPort, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SMTPPort, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="SMTPHost">SMTPHost</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.SMTPHost, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.SMTPHost, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="LeaveNumbers">LeaveNumbers</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.LeaveNumbers, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.LeaveNumbers, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Leave Recall Numbers</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.LeaveRecallNumbers, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.LeaveRecallNumbers, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Department Numbers</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.DepartmentNumbers, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.DepartmentNumbers, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="Name">Employee Numbers</label>

                                        <div class="col-xs-12 col-sm-9">
                                            <div class="clearfix">
                                                @Html.TextBoxFor(m => m.EmployeeNumbers, new { @class = "col-xs-12 col-sm-8" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.EmployeeNumbers, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="space-2"></div>

                                    @Html.HiddenFor(m => m.Id)

                                }
                            </div>
                        </div>

                        <hr />
                        <div class="wizard-actions center">
                            <button class="btn btn-success btn-next" id="SaveSettings">
                                Save
                                <i class="ace-icon fa fa-floppy-o  icon-on-right"></i>
                            </button>
                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</div>

